.background {
  background-color: #064A80;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Parte de cima */
.topo {
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 10%;
}
.logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 3rem;
}
#logo_HubHelp {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.nomeLogo {
	font-family: 'Press Start 2P', cursive;
	font-size: 2.8rem;
	white-space: nowrap;
  color: #fff;
}
.topo > .grid-covid {
  position: absolute;
  overflow: visible;
  right: 0;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Parte de cima */


/* Parte de baixo */
.rodaPe {
  height: 10%;
  overflow: visible;
  width: 100%;
  overflow: visible;
}
.rodaPe > .grid-covid {
  overflow: visible;
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
/* Parte de baixo */


/* Covids */
.grid-covid .covid {
  min-width: 80px;
  background-color: #52799B;
  min-height: 80px;
}
.topo > .grid-covid > .meio {
  margin-right: 80px;
}
.base {
  display: flex;
  width: inherit;
  justify-content: space-between;
}
.brabo {
  width: 160px !important;
}
.incomoda {
  align-self: flex-start;
}
.incomoda2 {
  margin-right: 80px;
}
/* Covids */



.seguraMainLogin {
  width: 100%;
  height: 40%;
  position: relative;
}
.mainLogin {
	width: 22.5%;
	min-height: 45%;
	border: 2px solid #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.opcoes-login {
	height: 3rem;
	border-radius: 1.5rem 1.5rem 0 0;
	display: flex;
	background-color: #064A80;
}

.opcoes-login > .botao {
	width: 50%;
	height: 3rem;
	border: none;
	cursor: pointer;
	font-size: 1.125rem;
	font-weight: 500;
	color:white;
  text-align: center;
  line-height: 3rem;
  text-decoration: none ;
  background-color: #064A80;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

/* https://css-tricks.com/a-complete-guide-to-data-attributes/ */
.opcoes-login .active {
	color:#064A80;
	background-color: white;
  cursor: default;
}

.img-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}
.img-container > img {
  height: 95px;
  width: 110px;
}
.mainLogin > .meio {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
