/* Filtros */
#filtros {
  width: 95%;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 70px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#pesquisaTabela {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 260px;
  height: 32px;
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
#inputPesquisaTabela {
  width: 88%;
  margin: 0;
  display: inline-block;
  padding-left: 10px;
  border: none;
  outline: none;
}
#btnPesquisaTabela {
  width: 18px;
  height: 18px;
  color: #1669AC;
}
#filtrosContainner {
  display: flex;
  width: calc(100% - 200px);
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 30px;
}
.form-select {
  height: 30px;
  width: 160px;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
}
.form-select:focus {
  border-color: #064A80;
}


/* Filtro de quantidade a ser mostrada na tabela */
#containnerMostre {
  display: flex;
  justify-content: center;
  border-left: 1px solid rgba(0, 0, 0, 0.2);;
  padding-left: 10px;
  align-items: center;
  gap: 10px;
}
#containnerMostre > p {
  margin: 0;
}
#mostreQuantidade {
  width: 70px;
}

/* Limpar filtros */
#limparFiltros {
  margin: 0;
  margin-bottom: 2.5px;
  cursor: pointer;
  color: #064A80;
}
#limparFiltros:hover {
  text-decoration: underline;
}

/* Tabela */
#tabela {
  margin: auto;
  width: 98%;
  table-layout:fixed;
  border-collapse: collapse;
  position: relative;
}
#seguraTabela {
  width: 99.8%;
  height: 548.5px;
  overflow-y: scroll;
  padding-left: 8px;
}
#seguraTabela::-webkit-scrollbar {
  width: 6px;
  background-color: #f3f3f3;
}
#seguraTabela::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #064A80;
}

th {
  background-color: #1669AC;
  font-weight: 600;
  font-size: 16px;
  height: 33px;
  letter-spacing: 1px;
  color: #fff;
  padding-left: 20px;
  position: sticky;
  top: 0;
}

/* Medidas de algumas colunas */
.Tempo {
  width: 7%;
}
.Andar {
  width: 7%;
}
.Unidade {
  min-width: 8%;
  width: 25%;
}
.Data {
  width: 7%;;
}
.Acoes {
  width: 6%;
}

td {
  padding-left: 22px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 51.5px;
  font-weight: 500;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tr:hover {
  background-color: #f7f7f7;
}
/* Alinhar elementos de colunas centralizados. */
.centralizar {
  overflow: visible;
  text-align: center;
  padding: 0; 
}
.bolda {
  font-weight: 600;
}

/* Cores da situacao na tabela */
.azul {
  background-color: #3385C3;
}
.vermelho {
  background-color: #E9250B;
}
.verde {
  background-color: #35BD05;
}
.amarelo {
  background-color: #DAAE14;
}
.fazerBackground {
  border-radius: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 25px;
}


/* Coluna mais detalhes */
.maisDetalhes {
  color: #064A80;
  font-weight: 700;
  cursor: pointer;
}
.maisDetalhes:hover {
  text-decoration: underline;
}


/* Style da pagination */
#pagination {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.pagination > li > a {
  color: #1669AC;
}

.pagination > li > .active {
  background-color: #1669AC;
  color: #fff;
  cursor: default;
}
.disabledPag {
  background-color: #f3f3f3;
  color: #b4b4b4 !important;
  cursor: default;
}
.disabledPag:hover {
  background-color: #f3f3f3;
}
.holder {
  user-select: none;
}
.holder:hover {
  background-color: #fff;
}