#footer {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5.2% 20px 5.2%;
}
#logoSenac {
  width: 230px;
  height: 20px;
}
#rodapeFabrica {
  color: #a1a1a1;
  margin: 0;
}